body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
img {
    display: block;
}
.navigation-header {
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    border: 1px solid gainsboro;
}
.menu-image {
    margin: 2px 2px 2px 2px;
}
.header-nav-tittle {
    margin: 2px auto 2px auto;
}
.cart-button {
    margin: 2px 2px 2px 2px;
    padding: 0;
    width: 10%;
    width: 40px;
    border: none;
    background-color: white;
}
.product-header {
    display: grid;
    grid-template-columns: 10fr 1fr;
    border-bottom: 1px solid gainsboro;
    margin-top: 10px;
    padding-bottom: 10px;
}
.product-sort {
    display: grid;
    grid-template-columns: 1fr 15fr;
    margin-left: 1px;
}
#sort {
    width: 100px;
}
.shipping-info {
    margin: 20px auto;
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    text-align: center;
   
}
#name {
    border: none;
    border-bottom: 1px solid gainsboro;
    font-size: larger;
}
#last-name {
    border: none;
    border-bottom: 1px solid gainsboro;
    font-size: larger;
}
#location {
    border: none;
    border-bottom: 1px solid gainsboro;
    font-size: larger;
}
.back-continue {
    display: grid;
    grid-template-columns: 20fr 1fr;
    margin: 0 10% 500px 10%;
}
.back-to-shopping {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 7%;
    margin-bottom: 2px;
}
.checkmark {
    margin: 0 10% 0 10%;
}
.continue {
    background-color: rgba(0, 255, 153, 0.909);
    color: black;
    border: none;
    border-radius: 7%;
    margin-bottom: 2px;
}
.main-footer {
    background-color: rgb(21, 49, 41);
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 0;
    margin-top: 10%;
}
.socials {
    margin-top: 10px;
}
.social-links {
    background-color: rgba(0, 255, 153, 0.909);
    color:black;
    margin: 10px 2px 0 0;
    border: 1px solid black;
    border-radius: 30%;
    text-decoration: none;
    font-size: smaller;
    padding: 1px 1px 1px 1px;
}
.copyright {
    color: white;
    font-size: small;
    letter-spacing: 2px;
}
