body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
img {
    display: block;
}
.header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.header-top {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
}
.user-items {
    display: flex;
    flex-direction: row;
    font-size: 50%;
    margin: 15px 0 0 3px;
}
.profile-picture {
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 100%;
}
.favourites {
    margin-left: 4%;
    margin-right: 4%;
}
.cart {
    margin-left: 4%;
    margin-right: 4%;
}
.header-bottom {
    background-color: rgb(172, 3, 152);
}
.product-nav {
    display: flex;
    flex-direction: row;
    width: auto;
}
.nav-elements {
    font-size: larger;
    color: white;
    margin: 1% 1% 1% 1%;
}
.products {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10%;
}
.see-more {
    width: 400px;
}
.category-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
}
.category {
    background-color: rgb(185, 184, 184);   
}
.category-text {
    font-size: x-large;
    text-align:center ;
}
.category-picture {
    margin: auto;
    margin-top: 3%;
    width: 90%;
}
.enter {
    display: inline-block;
    font-size: larger;
    text-decoration: none;
    margin: 0 0 0 46%;
}
.footer-container {
   height: 100px;
   font-size: x-large;
  
}
.footer-contact {
    display: block;
    margin: 2% 20% 0 45%;
}